.buttonHeader{
    width: 180px;
    height: 40px;
    background-color: var(--main-color);
    border-radius: 15px;
    font-size: 1rem;
    color:white;
    margin-right: 10px;
    margin-left: 15px;
    
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    }
    .spanHeader{
        margin-left: 1vh;
    }